<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtf.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.xtf.po.Admin">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="adminname" jdbcType="VARCHAR" property="adminname" />
    <result column="adminpwd" jdbcType="VARCHAR" property="adminpwd" />
    <result column="roleid" jdbcType="INTEGER" property="roleid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, adminname, adminpwd, roleid
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.xtf.po.Admin">
    insert into admin (id, adminname, adminpwd, 
      roleid)
    values (#{id,jdbcType=INTEGER}, #{adminname,jdbcType=VARCHAR}, #{adminpwd,jdbcType=VARCHAR}, 
      #{roleid,jdbcType=INTEGER})
  </insert>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <update id="updateByPrimaryKey" parameterType="com.xtf.po.Admin">
    update admin
    set adminname = #{adminname,jdbcType=VARCHAR},
      adminpwd = #{adminpwd,jdbcType=VARCHAR},
      roleid = #{roleid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByNameAndPWD" parameterType="map" resultMap="BaseResultMap">
    select * from admin where adminname = #{adminname} and adminpwd = #{adminpwd}
  </select>

  <sql id="query_where">
    <if test="adminname != null">
      and adminname = #{adminname,jdbcType=VARCHAR}
    </if>
  </sql>

  <select id="selectAdminList" parameterType="com.xtf.po.Admin" resultMap="BaseResultMap">
    select * from admin
    <where>
      <include refid="query_where" />
    </where>
  </select>


</mapper>